*{
	box-sizing: border-box;
}

header, footer{
	background-color: blanchedalmond;
	border-style: dotted;
	border-radius: 20px;
	padding: 5px;
	text-align: center;
}

.separador1 {
	height: 10px;
	clear: both;
}

.separador2{
	width: 2%;
	height: 1px;
	float: left;
}

.centro{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img{
	transition: all 0.5s linear;
	border-style: solid;
	border-color: lightblue;
	border-radius: 30px;
}

.main img{
	width: 45%;
	float: left;
	border-radius: 30px;
}

.main {
	height: 1200px;
}

body {
	background-image: url(img/dots.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

img:hover {
	transform: scale(0.9);
	border-radius: 40px;
	transform-style: preserve-3d;
}

